body,
html {
    border: 0;
    font: 12px/1.5 "Microsoft Yahei", arial, "瀹嬩綋";
    color: #000;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

article,
aside,
audio,
canvas,
caption,
details,
div,
figure,
footer,
header,
hgroup,
iframe,
img,
mark,
menu,
nav,
object,
section,
span,
summary,
table,
tbody,
td,
tfoot,
thead,
tr,
video {
    border: 0;
    margin: 0;
    padding: 0;
}

a,
abbr,
address,
b,
blockquote,
cit,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
ins,
label,
legend,
li,
ol,
p,
pre,
q,
samp,
small,
strong,
sub,
sup,
ul {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

li {
    list-style: none;
}

a {
    /* display: block; */
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a img {
    border: 0;
}

#zt img {
    /* vertical-align: bottom; */
    display: block;
}

:focus {
    outline: 0;
}

textarea {
    resize: none;
    -webkit-appearance: none;
}

input {
    -webkit-appearance: none;
    border: none;
}

select {
    -webkit-appearance: none;
    background-color: #fff;
}



button,
input,
select,
textarea {
    outline: 0;
    color: #555;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 5px;
    display: inline-block;
}

input[type="submit"] {
    -webkit-appearance: none;
}

#ios {
    width: 100%;
    background: #f71010;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

.new_pc .zt_share {
    width: 60px;
    height: 30px;
    background: #369;
    line-height: 30px;
    text-align: center;
    position: fixed;
    top: 200px;
    right: 0;
    color: #fff;
    cursor: pointer;
}

.sharev2_dlg_mask {
    z-index: 10000 !important;
}

.sharev2_dlg {
    z-index: 10001 !important;
}

.text-indent {
    text-indent: 2em;
}

.flex_content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hide {
    display: none;
}